header(class='flex flex-column items-center')
    div(class='flex flex-column items-center mw5')
        a(href='#')
            img(
                src='https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Wikimedia_Foundation_logo_-_vertical.svg/500px-Wikimedia_Foundation_logo_-_vertical.svg.png'
                class='w-100'
            )
        h1(class='f2')
            a(href='#' class='gray no-underline') Lorem Ipsum
    div
        include navLink.pug
        p(class='silver tc f4 fw1 i') Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
