
/* for debug purpose */
/**************************************************
body > * {
    border: solid thin gray;
}

main section {
    border: solid thin gray;
    min-height: 150px;
}*/

/* screen */
/**************************************************
html, body {
    height: 100%;
    margin: 0;
}*/

/* body */
/**************************************************/
body {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

body img {
    max-width: 100%;
    height: auto;
}

/* header */
/**************************************************/
header {
    flex: 1;    /* body container */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headerLeft {
    max-width: 300px;
}

#headerLeft h1 a {
    color: gray;
    text-decoration: none;
}

#headerLeft h2 {
    font-size: 1em;
    font-weight: lighter;
    color: darkgray;
    font-style: italic;
    text-align: center;
}

#headerRight nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

#headerRight nav ul li {
    padding: 15px;
}

#headerRight nav ul li a {
    padding: 5px;
    text-decoration: none;
    color: steelblue;
}

/* main */
/**************************************************/
main {
    flex: 1;    /* body container */
    display: flex;
    flex-direction: column;
    padding: 25px;
}

/* section */
/**************************************************/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

section header {
    flex-direction: column;
    align-items: center;
}

section header h1 {
    text-align: center;
    text-transform: uppercase;
    color: steelblue;
}

section header h2 {
    font-size: 1em;
    color: gray;
}

section header img {
    max-width: 250px;
    max-height: 200px;
}

section p {
    max-width: 800px;
    text-align: justify;
    line-height: 2rem;
    color: darkgray;
}

/* footer */
/**************************************************/
footer {
    flex: 1;    /* body container */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px;
}
footer p {
    color: darkgray;
    font-style: italic;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

footer ul li {
    padding: 15px;
}

footer ul li a {
    padding: 5px;
    text-decoration: none;
    color: steelblue;
}