/* main */
section {
    margin-bottom: 25px;
    font-size: 1.2em;
}

section header h1 {
    text-align: center;
    text-transform: uppercase;
    color: steelblue;
}

section header h2 {
    font-size: 1em;
    color: gray;
}

section header img {
    max-width: 250px;
    max-height: 200px;
}

section p {
    max-width: 800px;
    text-align: justify;
    line-height: 2rem;
    color: darkgray;
}