#headerLeft {
    max-width: 300px;
}

#headerLeft img {
    max-height: 150px;
    width: auto;
}

#headerLeft h1 a {
    color: gray;
    text-decoration: none;
    font-size: 1.2em;
}

#headerRight p {
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    font-style: italic;
    color: darkgray;
}
