doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/tachyons.min.css')
  body(class='flex flex-column items-center sans-serif')
    include layout-parts/header.pug
    block main
    include layout-parts/footer.pug
